.diy-renderer {
  min-height: 100vh;
  padding-bottom: calc(128rpx + env(safe-area-inset-bottom));
  background: transparent;
  box-sizing: border-box;
}

.diy-renderer--transparent {
  background: transparent !important;
}

.diy-renderer__item {
  width: 100%;
  box-sizing: border-box;
}
